<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267519280603-vsj13fjqbfsfaslh79evu1burkur25sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267519280603-vsj13fjqbfsfaslh79evu1burkur25sm</string>
	<key>API_KEY</key>
	<string>AIzaSyBfRDGDI6__Ku-DstE7Qa15kZn5krk9sPo</string>
	<key>GCM_SENDER_ID</key>
	<string>267519280603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>t3h.pda.nongnghiepcamau</string>
	<key>PROJECT_ID</key>
	<string>com-pda-nongnghiepcamau</string>
	<key>STORAGE_BUCKET</key>
	<string>com-pda-nongnghiepcamau.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267519280603:ios:ddade3e8de3e42877c93fe</string>
	<key>DATABASE_URL</key>
	<string>https://com-pda-nongnghiepcamau.firebaseio.com</string>
</dict>
</plist>